

.v-container .img-container{
    border: 8px solid rgb(232 232 232 / 93%);
}
.v-container{
     gap: 5rem;
}
.v-right{
   gap: 0.5rem;
}
.Accordion{
    margin-top: 2rem;
    border: none;
}
.AccordionItem{
    background: #fff;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.AccordionItemButton{
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    border: 0.8px solid rgba(128, 128, 128, 0.143);

}
.AccordionItem .expanded{
    box-shadow: 0px 23px 21px -8px rgba(136 , 160, 255,0.25);
    border-radius: 6px;
}
.icon{
    padding: 10px;
    margin: 15px;
    background: #eeeeff;
    border-radius: 5px;
}
.icon svg{
    fill: #4066ff;
}
.AccordionItemButton .primaryText{
      font-size: 1.1rem;
}